In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle

In [3]:
X = [11,12,13,14,15,16,17,18,19,110]
y = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
X1 = [13, 14, 15, 16, 17, 18, 19, 20, 21, 23]
df = pd.DataFrame()
df['X'] = X
df['X1'] = X1
df['y'] = y
df

     X  X1    y
0   11  13   10
1   12  14   20
2   13  15   30
3   14  16   40
4   15  17   50
5   16  18   60
6   17  19   70
7   18  20   80
8   19  21   90
9  110  23  100

In [4]:
X = df[['X']]
y = df['y']
X_train, X_test, y_train, y_test = train_test_split(X, y)

modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [5]:
modelo

LinearRegression()

In [6]:
modelo.predict([[10]])[0]

4.263256414560601e-14

In [7]:
pickle.dump(modelo, open("modelo.pickle", "wb"))

In [8]:
type(modelo.predict([[10]]))

numpy.ndarray

In [9]:
type(modelo.predict([[10]])[0])

numpy.float64